<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>


      <input type="text" v-model="enteredValue"/>      

      <button @click="addGoal">Add Goal</button>

      <!-- Show only if the goals[] is empty -->

      <p v-if="goals.length===0">No goals have been added yet - please start adding some!</p>

      <!-- If there are items in the array render ul list
               Loop through using v-for -->

      <ul v-else>

        <!-- V-FOR  goal can be anything shakeandbake/uncleBob etc

        -goal refers to every goal in the goals array
        
        -Does not render the list afresh ; only renders the last item added to the list     

        --output single item using goal
        
        -->


        <li v-for="goal in goals">{{goal}}</li>
      </ul>

    </section>
  </body>
</html>
